@import "tailwindcss";

@theme {
  --color-navy: #122c4f;
  --color-ocean: #5b88b2;
  --color-gold: #361413;
  --color-red: #8c0a0d;
  --color-black-dark: #1b1b1b;
  --color-gray: #323232;
  --color-peach: #ffe7d0;
  --color-orange: #fc6e20;
  --color-green: #1f3d33;
  --color-beige: #85abab;
}

:root {
  --color-navys: #122c4f;
  /* blue-500 */
  --color-secondary: 16 185 129;
  /* green-500 */
  --color-accent: 236 72 153;
  /* pink-500 */
  --color-dark: 17 24 39;
  /* gray-900 */
  --color-light: 249 250 251;
  /* gray-50 */

  /* Typography */
  --font-sans: "Commissioner", sans-serif;
  --font-heading: "Inter", sans-serif;

  /* Spacing */
  --radius: 0.5rem;
  --transition: all 0.3s ease;
}

/* Dark mode variables */

/* =========================
   BASE LAYER
========================= */
@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    @apply text-navy font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    @apply font-bold uppercase;
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-3xl md:text-[22px];
  }

  a {
    @apply text-blue-500 hover:underline;
  }

  button {
    @apply cursor-pointer;
  }
}

/* =========================
   COMPONENTS LAYER
========================= */
@layer components {
  .radioCard {
    @apply flex items-center gap-2 cursor-pointer rounded  text-navy p-3 bg-white border  border-navy text-xs font-medium uppercase transition-all duration-300 ease-in-out hover:bg-orange hover:border-orange hover:text-white peer-checked:bg-orange peer-checked:text-white peer-checked:border-orange;
  }
  .btn {
    @apply transition-all duration-300 ease-in-out uppercase flex justify-center items-center gap-x-2 w-full py-3 px-4 text-sm font-medium rounded bg-navy border border-navy text-white hover:bg-orange hover:text-white hover:border-orange focus:outline-hidden focus:bg-white disabled:opacity-50 disabled:pointer-events-none;
  }
  .icon-btn {
    @apply transition-all duration-300 ease-in-out py-2 px-2 rounded bg-navy border border-navy text-white hover:bg-orange hover:text-white hover:border-orange focus:outline-hidden focus:bg-white disabled:opacity-50 disabled:pointer-events-none;
  }

}

/* =========================
   UTILITIES LAYER
========================= */
@layer utilities {
  /* Text colors using variables */
  .text-primary {
    color: rgb(var(--color-primary));
  }

  /* Background utilities */
  .bg-primary {
    background-color: rgb(var(--color-primary));
  }

  .bg-secondary {
    background-color: rgb(var(--color-secondary));
  }
}

/*************************************/
.rdt_headRow {min-height: initial!important; padding: 12px 0; background-color: #fc6e20!important; color:#ffffff;}
.rdt_TableCol:before {display: none;}
.rdt_TableCell {@apply py-2 text-navy font-medium text-sm;}
.rdt_TableCol {
  @apply text-xs font-semibold uppercase text-white;
}
.rdt_pagination {@apply !justify-between !px-4;}
.rdt_paginationRange {@apply !m-0;}
.rdt_responsiveWrapper + div {
  @apply !rounded-b overflow-hidden;
}