@import "tailwindcss";

@theme {
  --color-navy: #122c4f;
  --color-ocean: #5b88b2;
  --color-gold: #361413;
  --color-red: #8c0a0d;
  --color-black-dark: #1b1b1b;
  --color-gray: #323232;
  --color-peach: #ffe7d0;
  --color-orange: #fc6e20;
  --color-green: #1f3d33;
  --color-beige: #85abab;

  --breakpoint-3xl: 1440px;
  --breakpoint-4xl: 120rem;
}

:root {
  --color-navys: #122c4f;
  /* blue-500 */
  --color-secondary: 16 185 129;
  /* green-500 */
  --color-accent: 236 72 153;
  /* pink-500 */
  --color-dark: 17 24 39;
  /* gray-900 */
  --color-light: 249 250 251;
  /* gray-50 */

  /* Typography */
  --font-sans: "Commissioner", sans-serif;
  --font-heading: "Commissioner", sans-serif;

  /* Spacing */
  --radius: 0.5rem;
  --transition: all 0.3s ease;
}

/* Dark mode variables */

/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  opacity: 1;
} */
/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: #122c4f url('/logo.png') repeat center center;
  background-size: 150px;

  opacity: 0.06;
  z-index: -1;
} */

/* =========================
   BASE LAYER
========================= */
@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    @apply text-navy font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    @apply font-bold uppercase;
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-3xl md:text-[22px];
  }

  a {
    @apply text-blue-500 hover:underline;
  }

  button {
    @apply cursor-pointer;
  }
}

/* =========================
   COMPONENTS LAYER
========================= */
@layer components {
  .sign_in_btn {
    @apply py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded bg-white border border-gray-400 text-navy shadow-2xs hover:bg-white focus:outline-hidden focus:bg-white;
  }
  .radioCard {
    @apply flex text-start lg:items-center flex-col lg:flex-row gap-2 min-h-10.5 cursor-pointer rounded text-navy p-3 bg-white border-2 border-navy text-xs font-semibold uppercase transition-all duration-300 ease-in-out hover:bg-orange hover:border-orange hover:text-white peer-checked:bg-orange peer-checked:text-white peer-checked:border-orange;
    /* @apply flex items-center gap-2 cursor-pointer rounded  text-navy p-3 bg-white border  border-navy text-xs font-medium uppercase transition-all duration-300 ease-in-out hover:bg-orange hover:border-orange hover:text-white peer-checked:bg-orange peer-checked:text-white peer-checked:border-orange; */
  }

  .btn {
    @apply transition-all duration-300 ease-in-out flex justify-center items-center gap-x-2 uppercase w-full py-3 px-4 text-sm font-medium rounded bg-navy border-2 border-navy text-white hover:bg-orange hover:text-white hover:border-orange focus:outline-hidden focus:bg-navy focus:border-navy disabled:opacity-50 disabled:pointer-events-none;
  }

  .icon-btn {
    @apply transition-all duration-300 ease-in-out py-2 px-2 rounded bg-navy border border-navy text-white hover:bg-orange hover:text-white hover:border-orange focus:outline-hidden focus:bg-navy focus:border-navy disabled:opacity-50 disabled:pointer-events-none;
  }

  .input-field {
    @apply rounded bg-white w-full border-2 border-navy py-2.5 sm:py-3 px-4 text-sm text-navy placeholder:text-navy focus:border-navy focus:outline-none focus-visible:ring-0 disabled:opacity-50 disabled:pointer-events-none;
  }
  .custom_transition {
    @apply transition-all duration-300 ease-in-out;
  }
}

/* =========================
   UTILITIES LAYER
========================= */
@layer utilities {
  /* Text colors using variables */
  .text-primary {
    color: rgb(var(--color-primary));
  }

  /* Background utilities */
  .bg-primary {
    background-color: rgb(var(--color-primary));
  }

  .bg-secondary {
    background-color: rgb(var(--color-secondary));
  }
}

/*************************************/
.rdt_headRow {
  min-height: initial !important;
  padding: 6px 0;
  background-color: #122c4f !important;
  color: #ffffff;
}

.rdt_TableCol:before {
  display: none;
}

.rdt_TableCell {
  @apply py-4 text-navy font-medium text-xs;
}

.rdt_TableCol {
  @apply text-xs font-semibold uppercase text-white;
}

.rdt_cellCheckbox {
  @apply p-4!;
}

.teachers .rdt_Checkbox,
.students .rdt_Checkbox {
  @apply self-start;
}

.rdt_pagination {
  @apply justify-between! px-4!;
}

.rdt_paginationRange {
  @apply m-0!;
}

.rdt_responsiveWrapper + div {
  @apply rounded-b! overflow-hidden;
}

.react-datepicker-wrapper {
  @apply w-full;
}

.react-datepicker__calendar-icon {
  @apply inset-e-0 top-3.5 py-0! cursor-pointer hover:fill-orange fill-navy;
}

.react-datepicker__close-icon {
  @apply p-0! px-2.5! inset-e-0! h-auto! top-3.5!;
}

.react-datepicker__close-icon::after {
  @apply bg-transparent! text-red-500! font-bold w-4.5! h-4.5! text-sm! leading-1! pb-1!;
}

/* hide clear icon by default */
.datepicker-wrapper .react-datepicker__close-icon {
  @apply hidden after:content-['✕']!;
}

/* when input has value → show clear, hide calendar */
.datepicker-wrapper.has-value .react-datepicker__close-icon {
  @apply block;
}

.datepicker-wrapper.has-value .react-datepicker__calendar-icon {
  @apply hidden;
}

.opened {
  @apply translate-0!;
}

/*******************************************************************************************************/
/* Input field */
.custom-datepicker-input {
  border: 1px solid #122c4f;
  padding: 10px;
  border-radius: 6px;
  color: #122c4f;
  font-weight: 500;
}

/* Calendar container */
.custom-calendar {
  overflow: hidden;
  @apply w-full border-2! border-navy! rounded!;
}

.custom-calendar .react-datepicker__month {
  @apply m-2 flex flex-col gap-2;
}

.custom-calendar .react-datepicker__month-container {
  @apply w-full;
}

.custom-calendar .react-datepicker__month-container .react-datepicker__header {
  @apply bg-white border-b border-navy flex flex-wrap items-center ps-2! justify-end flex-row-reverse gap-2;
}

.custom-calendar .react-datepicker__day,
.custom-calendar
  .react-datepicker__month-container
  .react-datepicker__day-name {
  @apply w-[calc(100%/7)] m-0 text-white min-h-10 leading-10 text-center font-semibold text-sm rounded;
}

.custom-calendar .react-datepicker__day.react-datepicker__day--outside-month {
  @apply bg-navy/40;
}

.custom-calendar .react-datepicker__week {
  @apply grid grid-cols-7 gap-2;
}

.custom-calendar .react-datepicker__week > div {
  @apply w-full;
}
.custom-calendar .react-datepicker__week > div.react-datepicker__day--today {
  @apply bg-orange text-white;
}
/* .custom-calendar .react-datepicker__day.react-datepicker__day--keyboard-selected {
  @apply bg-orange! text-white!;
} */
.custom-calendar .react-datepicker__day {
  @apply bg-navy/20 text-navy hover:bg-orange! hover:text-white;
}

.custom-calendar .react-datepicker__day.react-datepicker__day--disabled {
  @apply bg-navy/10! text-navy cursor-not-allowed opacity-50;
}

/* Header */
.react-datepicker__header {
  background-color: #122c4f;
  color: white;
  border-bottom: none;
}

/* Month & year text */
.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white;
  font-size: 14px !important;
  font-family: Inter;
}

/* Selected date */
.react-datepicker__day--selected {
  @apply bg-orange! text-white! rounded;
}

/* Hover effect */
.react-datepicker__day:hover {
  background-color: #fc6e20;
  color: white;
}

/* Today highlight */
.react-datepicker__day--today {
  border: 1px solid #fc6e20;
}

/* Navigation arrows */
.react-datepicker__navigation-icon::before {
  border-color: white;
}

/* Week days row */
.react-datepicker__day-names {
  background-color: #122c4f;
  @apply m-0!;
}

.react-datepicker__year-read-view {
  font-family: "Inter", sans-serif;
  @apply bg-navy rounded! py-2 pl-2 pr-6 visible!;
}

.react-datepicker__year-read-view
  .react-datepicker__year-read-view--down-arrow {
  right: 5px;
  top: 6px;
  border: none;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0deg);
}

.react-datepicker__navigation .react-datepicker__navigation-icon:before {
  content: "";
  width: 24px;
  height: 24px;
  top: 0;
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  border: none;
  transform: rotate(0deg);
}

.react-datepicker__navigation
  .react-datepicker__navigation-icon.react-datepicker__navigation-icon--previous:before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m15 18-6-6 6-6'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m15 18-6-6 6-6'/%3E%3C/svg%3E");
}

.react-datepicker__navigation
  .react-datepicker__navigation-icon.react-datepicker__navigation-icon--next:before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
}

.react-datepicker__navigation {
  color: black;
}

/* hover color */
.react-datepicker__navigation {
  top: 8px !important;
}

.react-datepicker__navigation:hover {
  @apply text-orange!;
}

.react-datepicker__year-dropdown {
  @apply top-full! bg-navy! w-18! left-0!;
}

.react-datepicker__year-dropdown-container {
  position: relative;
  margin: 0 !important;
}

.react-datepicker__year-option--selected {
  @apply hidden;
}

.react-datepicker__year-dropdown-container .react-datepicker__year-option {
  @apply text-start pb-1 px-2 pt-1.5 hover:bg-orange;
}

.react-datepicker__year-read-view--selected-year {
  @apply text-xs;
}

.react-datepicker__navigation--previous {
  right: 32px;
  left: initial !important;
}
/* Swiper */
.swiper-pagination  {
  @apply flex flex-wrap items-center justify-center gap-2 mt-6;
}
.swiper-pagination-bullet {
  @apply w-2 h-2 inline-block bg-white rounded-full;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-orange;
}
/****************************************** Code for partners ***********************************************************************/
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Active (center card) */
.swiper-slide {
  @apply grayscale-100 opacity-25;
}
.swiper-slide-active {
  @apply grayscale-0 opacity-100;
}
.swiper-wrapper {
  transition-timing-function: linear !important; /* ✅ KEY for marquee */
}
/****************************************** Code for partners ***********************************************************************/

/*************************** Code for Login Screen *******************/
.login_wrapper {
  @apply grid grid-cols-2 h-full bg-navy/10;
}
.login_wrapper .left_column {
  @apply flex flex-wrap items-center justify-center col-span-2 xl:col-span-2 ;
}
.inner_left_column {
  @apply p-12 xl:p-7 w-full max-w-lg mx-auto ;
}
.login_heading {
  @apply block text-2xl font-bold text-navy;
}
/* .sign_in_btn_wrap {
  @apply grid grid-cols-2 gap-4;
} */
/* .or {
  @apply pt-8 pb-7 flex items-center text-sm text-navy uppercase font-medium before:flex-1 before:border-t before:border-gray-400 before:me-6 after:flex-1 after:border-t after:border-gray-400 after:ms-6;
} */
.login_form_wrapper {
  @apply flex flex-col gap-4;
}
.remember_me {
  @apply flex flex-wrap items-center justify-between;
}
.remember_me_label {
  @apply flex items-center gap-2 cursor-pointer select-none;
}
.remmeber_me_checkbox {
  @apply w-4 h-4 flex items-center justify-center rounded border-2 transition-all;
}
.remember_me_text {
  @apply text-sm text-navy font-medium;
}
.login_forgot_password {
  @apply text-sm font-medium text-orange no-underline hover:text-navy transition-all duration-200 ease-in-out;
}
.login_donot_have_account {
  @apply text-sm text-navy font-medium text-center;
}
.login_donot_have_account_link {
  @apply ms-1 text-orange no-underline focus:outline-hidden focus:underline font-medium hover:text-navy transition-all duration-200 ease-in-out;
}
.login_slider_wrapper {
  @apply bg-navy hidden xl:flex flex-wrap items-center justify-center;
}
.login_slider_wrapper .swiper-slide {
  @apply text-white text-center;
}
.login_slider_wrapper .swiper-slide h2 {
  @apply mb-4 text-[32px];
}
.login_slider_wrapper .swiper-slide p {
  @apply w-4/6 mx-auto;
}
  /*************************** Code for Login Screen *******************/

  /*************************** Code for Modal Screen *******************/
  .overlay {
    @apply fixed top-0 left-0 w-full h-full bg-navy/80 z-40 transition-all duration-300 ease-in-out;
  }
  .modal-wrapper {
    @apply size-full fixed top-0 inset-s-0 z-50 overflow-x-hidden overflow-y-auto pointer-events-none;
  }
  .modal-inner-wrapper {
    @apply ease-in-out transition-all duration-200 md:max-w-xl md:w-full m-3 sm:mx-auto min-h-[calc(100%-56px)] flex items-center;
  }
  .modal {
    @apply max-h-full overflow-hidden w-full flex flex-col bg-white border border-white shadow-2xs rounded pointer-events-auto;
  }
  /*************************** Code for Modal Screen *******************/

