@import "tailwindcss";

@theme {
  --color-navy: #122c4f;
  --color-ocean: #5b88b2;
  --color-gold: #361413;
  --color-red: #8c0a0d;
  --color-black-dark: #1b1b1b;
  --color-gray: #323232;
  --color-peach: #ffe7d0;
  --color-orange: #fc6e20;
  --color-green: #1f3d33;
  --color-beige: #85abab;

  --breakpoint-3xl: 1440px;
  --breakpoint-4xl: 120rem;
}

:root {
  --color-navys: #122c4f;
  /* blue-500 */
  --color-secondary: 16 185 129;
  /* green-500 */
  --color-accent: 236 72 153;
  /* pink-500 */
  --color-dark: 17 24 39;
  /* gray-900 */
  --color-light: 249 250 251;
  /* gray-50 */

  /* Typography */
  --font-sans: "Commissioner", sans-serif;
  --font-heading: "Commissioner", sans-serif;

  /* Spacing */
  --radius: 0.5rem;
  --transition: all 0.3s ease;
}

/* Dark mode variables */

/* =========================
   BASE LAYER
========================= */
@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    @apply text-navy font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    @apply font-bold uppercase;
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-3xl md:text-[22px];
  }

  a {
    @apply text-blue-500 hover:underline;
  }

  button {
    @apply cursor-pointer;
  }
}

/* =========================
   COMPONENTS LAYER
========================= */
@layer components {
  .radioCard {
    @apply flex items-center gap-2 justify-center text-center min-w-32.5 min-h-10.5 cursor-pointer rounded  text-navy p-3 bg-white border-2  border-navy text-xs font-semibold uppercase transition-all duration-300 ease-in-out hover:bg-orange hover:border-orange hover:text-white peer-checked:bg-orange peer-checked:text-white peer-checked:border-orange;
    /* @apply flex items-center gap-2 cursor-pointer rounded  text-navy p-3 bg-white border  border-navy text-xs font-medium uppercase transition-all duration-300 ease-in-out hover:bg-orange hover:border-orange hover:text-white peer-checked:bg-orange peer-checked:text-white peer-checked:border-orange; */
  }
  .btn {
    @apply transition-all duration-300 ease-in-out uppercase flex justify-center items-center gap-x-2 w-full py-3 px-4 text-sm font-medium rounded bg-navy border-2 border-navy text-white hover:bg-orange hover:text-white hover:border-orange focus:outline-hidden focus:bg-white disabled:opacity-50 disabled:pointer-events-none;
  }
  .icon-btn {
    @apply transition-all duration-300 ease-in-out py-2 px-2 rounded bg-navy border border-navy text-white hover:bg-orange hover:text-white hover:border-orange focus:outline-hidden focus:bg-white disabled:opacity-50 disabled:pointer-events-none;
  }
  .input-field {
    @apply rounded bg-white w-full border-2 border-navy py-2.5 sm:py-3 px-4 text-sm text-navy placeholder:text-navy focus:border-navy focus:ring-navy disabled:opacity-50 disabled:pointer-events-none
  }

}

/* =========================
   UTILITIES LAYER
========================= */
@layer utilities {
  /* Text colors using variables */
  .text-primary {
    color: rgb(var(--color-primary));
  }

  /* Background utilities */
  .bg-primary {
    background-color: rgb(var(--color-primary));
  }

  .bg-secondary {
    background-color: rgb(var(--color-secondary));
  }
}

/*************************************/
.rdt_headRow {min-height: initial!important; padding: 6px 0; background-color: #122c4f!important; color:#ffffff;}
.rdt_TableCol:before {display: none;}
.rdt_TableCell {@apply py-4 text-navy font-medium text-xs;}
.rdt_TableCol {
  @apply text-xs font-semibold uppercase text-white;
}
.rdt_cellCheckbox {@apply p-4!;}
.teachers .rdt_Checkbox,
.students .rdt_Checkbox {
  @apply self-start;
}
.rdt_pagination {@apply !justify-between !px-4;}
.rdt_paginationRange {@apply !m-0;}
.rdt_responsiveWrapper + div {
  @apply !rounded-b overflow-hidden;
}
.react-datepicker-wrapper {
  @apply w-full;
}
.react-datepicker__calendar-icon {
  @apply end-0 top-[14px] !py-0 cursor-pointer hover:fill-orange fill-navy;
}
.react-datepicker__close-icon {
  @apply p-0! px-2.5! end-0! h-auto! top-[14px]!
}
.react-datepicker__close-icon::after {
  @apply bg-transparent! text-red-500! font-bold w-4.5! h-4.5! text-sm! leading-1! pb-1!;
}


/* hide clear icon by default */
.datepicker-wrapper .react-datepicker__close-icon {
  @apply hidden after:content-['✕']!;
}

/* when input has value → show clear, hide calendar */
.datepicker-wrapper.has-value .react-datepicker__close-icon {
  @apply block;
}

.datepicker-wrapper.has-value .react-datepicker__calendar-icon {
  @apply hidden;
}
.opened {@apply translate-0!;}

/*******************************************************************************************************/
/* Input field */
.custom-datepicker-input {
  border: 1px solid #122c4f;
  padding: 10px;
  border-radius: 6px;
  color: #122c4f;
  font-weight: 500;
}

/* Calendar container */
.custom-calendar {
  border: 1px solid #122c4f;
  border-radius: 10px;
  overflow: hidden;
}

/* Header */
.react-datepicker__header {
  background-color: #122c4f;
  color: white;
  border-bottom: none;
}

/* Month & year text */
.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white;
}

/* Selected date */
.react-datepicker__day--selected {
  background-color: #fc6e20 !important;
  color: white;
  border-radius: 6px;
}

/* Hover effect */
.react-datepicker__day:hover {
  background-color: #fc6e20;
  color: white;
}

/* Today highlight */
.react-datepicker__day--today {
  border: 1px solid #fc6e20;
}

/* Navigation arrows */
.react-datepicker__navigation-icon::before {
  border-color: white;
}

/* Week days row */
.react-datepicker__day-names {
  background-color: #122c4f;
}